<footer class="flex flex-col md:flex-row justify-between items-center gap-3 py-6 px-12 bg-light-grey w-full">
  <img class="h-20" src="./assets/images/economia-circular.png" alt="Logo that represents circular economy" />
  <nav class="">
    <a href="#" class="bg-strong-green hover:bg-blue-700 text-white font-semibold py-3 px-3 rounded-lg" role="button" aria-disabled="true">Welcome</a>
    <a href="speakers.html" class="bg-strong-green hover:bg-blue-700 text-white font-semibold py-3 px-3 rounded-lg" role="button" aria-disabled="true">Speakers</a>
    <a href="#" class="bg-strong-green hover:bg-blue-700 text-white font-semibold py-3 px-3 rounded-lg" role="button" aria-disabled="true">Article</a>
    <a href="#" class="bg-strong-green hover:bg-blue-700 text-white font-semibold py-3 px-3 rounded-lg" role="button" aria-disabled="true">Dashboard</a>
  </nav>
  <nav class="text-strong-green text-3xxl">
    <a href="https://www.facebook.com/?locale=es_ES" role="button" aria-disabled="true" target="_blank"><i class="bi-facebook"></i></a>
    <a href="https://x.com/?lang=es" role="button" aria-disabled="true" target="_blank"><i class="bi-twitter-x"></i></a>
    <a href="https://www.instagram.com/" role="button" aria-disabled="true" target="_blank"><i class="bi-instagram"></i></a>
    <a href="https://www.whatsapp.com/?lang=es_LA" role="button" aria-disabled="true" target="_blank"><i class="bi-whatsapp"></i></a> 
  </nav>
</footer>