<footer class="">
  <img class="" src="./assets/images/economia-circular.png" alt="Logo that represents circular economy" />
  <nav class="">
    <a href="index.html" class="" role="button" aria-disabled="true">Welcome</a>
    <a href="speakers.html" class="" role="button" aria-disabled="true">Speakers</a>
    <a href="#" class="" role="button" aria-disabled="true">Article</a>
  </nav>
  <nav>
    <a href="https://www.facebook.com/?locale=es_ES" role="button" aria-disabled="true" target="_blank"><i class=""></i></a>
    <a href="https://x.com/?lang=es" role="button" aria-disabled="true" target="_blank"><i class=""></i></a>
    <a href="https://www.instagram.com/" role="button" aria-disabled="true" target="_blank"><i class=""></i></a>
    <a href="https://www.whatsapp.com/?lang=es_LA" role="button" aria-disabled="true" target="_blank"><i class=""></i></a> 
  </nav>
</footer>