<header class="absolute top-0 left-0 w-full px-12 py-2 flex justify-between items-center h-[120px]">
    <img class="h-20" src="./assets/images/economia-circular.png" alt="Logo that represents circular economy" />
    <nav class="flex gap-2">
        <a href="speakers.html" class="bg-masterBrand hover:bg-blue-700 text-white font-semibold py-3 px-3 rounded-lg" role="button" aria-disabled="true">Speakers</a>
        <a href="#" class="bg-masterBrand hover:bg-blue-700 text-white font-semibold py-3 px-3 rounded-lg" role="button" aria-disabled="true">Article</a>
        <a href="#" class="bg-masterBrand hover:bg-blue-700 text-white font-semibold py-3 px-3 rounded-lg" role="button" aria-disabled="true">Dashboard</a>
    </nav>
</header>